<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Feed</title>
    <link rel="stylesheet" href="../static/css/styles_news.css">


</head>
<body>
    <section class="posts-listing">
    
        <article class="post-item">
          <a class="post-item__inner" href="#">
        
            <div class="post-item__thumbnail-wrapper">
              <div class="post-item__thumbnail" style="background-image:url(image_url.jpg);"></div>
            </div>
        
            <div class="post-item__content-wrapper">
              <h2 class="post-item__title heading-size-4"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></h2>
          
              
        <div class="post-item__metas">
          <time class="post-item__meta post-item__meta--date" datetime="2022-02-14T20:24:54+00:00">February 14, 2022</time>
                <p class="post-item__meta post-item__meta--category">Category</p>
              </div>
          
                      <div class="post-item__excerpt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        </div>
              
              <div class="post-item__read-more-wrapper">
                <p class="post-item__read-more">Read more</p>
              </div>
          
            </div>
        
          </a>
        </article>
        
        <article class="post-item">
          <a class="post-item__inner" href="#">
        
            <div class="post-item__thumbnail-wrapper">
              <div class="post-item__thumbnail" style="background-image:url(image_url.jpg);"></div>
            </div>
        
            <div class="post-item__content-wrapper">
              <h2 class="post-item__title heading-size-4"><span>Lorem ipsum dolor</span></h2>
          
              
        <div class="post-item__metas">
          <time class="post-item__meta post-item__meta--date" datetime="2022-02-12T19:31:31+00:00">February 12, 2022</time>
                <p class="post-item__meta post-item__meta--category">Category</p>
              </div>
          
              
              <div class="post-item__read-more-wrapper">
                <p class="post-item__read-more">Read more</p>
              </div>
          
            </div>
        
          </a>
        </article>
        
        <article class="post-item">
          <a class="post-item__inner" href="#">
        
            <div class="post-item__thumbnail-wrapper">
              <div class="post-item__thumbnail" style="background-image:url(image_url.jpg);"></div>
            </div>
        
            <div class="post-item__content-wrapper">
              <h2 class="post-item__title"><span>Lorem ipsum dolor amet, consectetur adipiscing elit</span></h2>
          
              
        <div class="post-item__metas">
          <time class="post-item__meta post-item__meta--date" datetime="2022-02-12T19:22:45+00:00">February 12, 2022</time>
                <p class="post-item__meta post-item__meta--category">Category</p>
              </div>
          
              
              <div class="post-item__read-more-wrapper">
                <p class="post-item__read-more">Read more</p>
              </div>
          
            </div>
        
          </a>
        </article>
        
        <article class="post-item">
          <a class="post-item__inner" href="#">
        
            <div class="post-item__thumbnail-wrapper">
              <div class="post-item__thumbnail" style="background-image:url(image_url.jpg);"></div>
            </div>
        
            <div class="post-item__content-wrapper">
              <h2 class="post-item__title"><span>Lorem ipsum dolor sit amet</span></h2>
          
              
        <div class="post-item__metas">
          <time class="post-item__meta post-item__meta--date" datetime="2022-02-09T19:12:19+00:00">February 9, 2022</time>
                <p class="post-item__meta post-item__meta--category">Category</p>
              </div>
          
              
              <div class="post-item__read-more-wrapper">
                <p class="post-item__read-more">Read more</p>
              </div>
          
            </div>
        
          </a>
        </article>
        
        <article class="post-item">
          <a class="post-item__inner" href="#">
        
            <div class="post-item__thumbnail-wrapper">
              <div class="post-item__thumbnail" style="background-image:url(image_url.jpg);"></div>
            </div>
        
            <div class="post-item__content-wrapper">
              <h2 class="post-item__title heading-size-4"><span>Post Example</span></h2>
          
              
        <div class="post-item__metas">
          <time class="post-item__meta post-item__meta--date" datetime="2022-01-16T21:39:21+00:00">January 16, 2022</time>
                <p class="post-item__meta post-item__meta--category">Category</p>
              </div>
          
                      <div class="post-item__excerpt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacinia nibh id dui faucibus facilisis. Vestibulum eu bibendum ante, in mattis velit.        </div>
              
              <div class="post-item__read-more-wrapper">
                <p class="post-item__read-more">Read more</p>
              </div>
          
            </div>
        
          </a>
        </article>
        </section>
</body>
</html>