<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles1.css">
</head>
<body>
    <!-- <div class="api">
         <div class="container">🌞 This demo needs an OpenWeather API key to work. <a target="_blank" href="https://home.openweathermap.org/users/sign_up">Get yours here for free!</a> -->
        <!-- </div> -->
      <!-- </div> --> -->
      <section class="top-banner">
        <div class="container">
          <h1 class="heading">Weather</h1>
          <form>
            <input type="text" placeholder="Search for a city" autofocus>
            <button type="submit">SUBMIT</button>
            <span class="msg"></span>
          </form>
        </div>
      </section>
      <section class="ajax-section">
        <div class="container">
          <ul class="cities"></ul>
        </div>
      </section>
      <footer class="page-footer">
        <!-- <div class="container">
          <small>Made with <span>❤</span> by <a href="http://georgemartsoukos.com/" target="_blank">George Martsoukos</a>
          </small> -->
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="../static/js/weather.js"></script>
</body>
</html>